html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}html{scroll-behavior:smooth}body{line-height:1}a{text-decoration-skip-ink:auto}a[href^="tel"]{color:inherit;text-decoration:none}button{outline:0}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}q{display:inline;font-style:italic}q:before{content:'"';font-style:normal}q:after{content:'"';font-style:normal}textarea,input[type="text"],input[type="button"],input[type="submit"],input[type="reset"],input[type="search"],input[type="password"]{-webkit-appearance:none;appearance:none;border-radius:0}input[type="search"]{-webkit-appearance:textfield}table{border-collapse:collapse;border-spacing:0}th,td{padding:2px}big{font-size:120%}small,sup,sub{font-size:80%}sup{vertical-align:super}sub{vertical-align:sub}dd{margin-left:20px}kbd,tt{font-family:courier;font-size:12px}ins{text-decoration:underline}del,strike,s{text-decoration:line-through}dt{font-weight:bold}address,cite,var{font-style:italic}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}*{box-sizing:border-box;-webkit-tap-highlight-color:transparent}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}
.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important;word-break:normal}
.screen-reader-text:focus{background-color:#f7f7f7;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;-webkit-clip-path:none;clip-path:none;color:#007acc;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;right:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}
.skip-link{left:-9999rem;top:2.5rem;z-index:999999999;text-decoration:underline}
.skip-link:focus{display:block;left:6px;top:7px;font-size:14px;font-weight:600;text-decoration:none;line-height:normal;padding:15px 23px 14px;z-index:100000;right:auto}
.visually-hidden:not(:focus):not(:active), .form-allowed-tags:not(:focus):not(:active){position:absolute !important;height:1px;width:1px;overflow:hidden;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);white-space:nowrap}

:root {
    --primary-color: #2c16d2;
}

body {
    background-color: var(--primary-color);
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    padding: 60px 60px;
}

.desktpHeader {
    background-image: url(./images/Header_Desktop.svg);
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    width: 70%;
    height: 50em;
    z-index: 800;
}

.starburst {
    background-image: url(./images/SHAPE_Starburst.svg);
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    top: 30px;
    left: 40px;
    width: 10%;
    height: 50em;
    z-index: 799;
}

.lineStar {
    background-image: url(./images/SHAPE_LineStar.svg);
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 75px;
    right: 100px;
    width: 6%;
    height: 50em;
    z-index: 799;
}

.flower {
    background-image: url(./images/SHAPE_Flower.svg);
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    top: 30px;
    right: 300px;
    width: 6%;
    height: 50em;
    z-index: 799;
}

.roundFlower {
    background-image: url(./images/SHAPE_RoundFlower.svg);
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    top: 250px;
    left: 370px;
    width: 6%;
    height: 50em;
    z-index: 799;
}

.newsletter {
    background-image: url(./images/signup\ for\ our\ newsletter.svg);
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    right: 210px;
    top: 140px;
    width: 25%;
    height: 40em;
    z-index: 803;
}

.socials {
    background-image: url(./images/FindUS_Social_Desktop.svg);
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    left: 440px;
    top: 360px;
    width: 20%;
    height: 50em;
    z-index: 803;
}

.desktpOhWake {
    background-image: url(./images/CheckoutOHWAKE_DESKTOP.svg);
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    right: 0px;
    top: 480px;
    width: 40%;
    height: 50em;
    z-index: 800;
}

.ohWakeOrg {
    background-image: url(./images/ohwake.org_Desktop.svg);
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    right: 60px;
    top: 530px;
    width: 10%;
    height: 50em;
    z-index: 799;
}

.yellowCircle {
    background-image: url(./images/OH_YELLOW_CIRCLE.svg);
    background-repeat: no-repeat;
    background-position: top left;
    position: fixed;
    top: 420px;
    left: 70px;
    width: 50%;
    height: 30%;
    z-index: 799;
}

.ocean {
    bottom: auto !important;
    background-image: url(./images/OCEAN.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    position: fixed;
    left: 0;
    width: 70%;
    height: 80%;
    z-index: 800;
}

.shark {
    background-image: url(./images/SharkMed.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    position: fixed;
    left: 0;
    width: 90%;
    height: 40%;
    z-index: 801;
}




/* VIEWPORTS */
@media screen and (max-width: 1536px) {
    .desktpHeader {
        width: 70%;
    }
    
    .starburst {
        top: 20px;
        left: 30px;
        width: 12%;
    }
    
    .lineStar {
        top: 75px;
        left: 620px;
    }
    
    .flower {
        top: 30px;
        right: 370px;
        width: 7%;
    }
    
    .roundFlower {
        top: 240px;
        left: 350px;
        width: 7%;
    }
    
    .newsletter {
        right: 210px;
        top: 150px;
        width: 25%;
    }
    
    .socials {
        left: 460px;
        top: 380px;
        width: 20%;
    }
    
    .desktpOhWake {
        right: 0px;
        top: 510px;
        width: 50%;
    }
    
    .ohWakeOrg {
        right: 90px;
        top: 560px;
        width: 10%;
    }
    
    .yellowCircle {
        top: 350px;
        left: 60px;
    }
    
    .shark {
        top: 530px;
        left: 60px;
    }
    
    .ocean {
        top: 350px;
        left: 0;
        width: 110%;
    }

}

@media screen and (max-width: 1440px) {
    .desktpHeader {
        width: 70%;
    }
    
    .starburst {
        top: 20px;
        left: 30px;
        width: 12%;
    }
    
    .lineStar {
        top: 75px;
        left: 580px;
        width: 7%;
    }
    
    .flower {
        top: 30px;
        right: 370px;
        width: 7%;
    }
    
    .roundFlower {
        top: 230px;
        left: 350px;
        width: 7%;
    }
    
    .newsletter {
        right: 180px;
        top: 140px;
        width: 25%;
    }
    
    .socials {
        left: 430px;
        top: 360px;
        width: 20%;
    }
    
    .desktpOhWake {
        right: 0px;
        top: 510px;
        width: 50%;
    }
    
    .ohWakeOrg {
        right: 90px;
        top: 560px;
        width: 10%;
    }
    
    .ocean {
        top: 320px;
        left: 0;
        width: 110%;
    }

}

@media screen and (max-width: 1280px) {
    .desktpHeader {
        width: 70%;
    }
    
    .starburst {
        top: 20px;
        left: 30px;
        width: 12%;
    }
    
    .lineStar {
        top: 75px;
        left: 510px;
        width: 7%;
    }
    
    .flower {
        top: 30px;
        right: 350px;
        width: 7%;
    }
    
    .roundFlower {
        top: 210px;
        left: 310px;
        width: 7%;
    }
    
    .newsletter {
        right: 180px;
        top: 130px;
        width: 25%;
    }
    
    .socials {
        position: absolute;
        left: 420px;
        top: 320px;
        width: 18%;
    }
    
    .desktpOhWake {
        right: 0px;
        top: 470px;
        width: 50%;
    }
    
    .ohWakeOrg {
        right: 90px;
        top: 520px;
        width: 10%;
    }
    
    .ocean {
        top: 250px;
        left: 0;
        width: 110%;
    }

}

@media screen and (max-width: 1024px) {
    .desktpHeader {
        width: 80%;
    }
    
    .lineStar {
        top: 75px;
        left: 480px;
        width: 7%;
    }
    
    .flower {
        top: 30px;
        right: 260px;
        width: 7%;
    }
    
    .roundFlower {
        top: 210px;
        left: 290px;
        width: 7%;
    }
    
    .newsletter {
        right: 80px;
        top: 120px;
        width: 25%;
    }
    
    .socials {
        left: 380px;
        top: 310px;
        width: 20%;
    }
    
    .desktpOhWake {
        right: 0px;
        top: 480px;
        width: 50%;
    }
    
    .ohWakeOrg {
        right: 50px;
        top: 520px;
        width: 12%;
    }
    
    .yellowCircle {
        top: 450px;
        height: 30%;
        left: 40px;
        width: 60%;
    }
    
    .shark {
        top: 600px;
        left: 60px;
    }
    
    .ocean {
        width: 120%;
    }
}

@media screen and (max-width: 980px) {
    .desktpHeader {
        width: 80%;
    }
    
    .starburst {
        top: 30px;
        left: 40px;
    }
    
    .lineStar {
        top: 75px;
        left: 460px;
        width: 7%;
    }
    
    .flower {
        top: 30px;
        right: 260px;
        width: 7%;
    }
    
    .roundFlower {
        top: 200px;
        left: 270px;
        width: 7%;
    }
    
    .newsletter {
        right: 80px;
        top: 120px;
        width: 25%;
    }
    
    .socials {
        left: 350px;
        top: 300px;
        width: 20%;
    }
    
    .desktpOhWake {
        right: 0px;
        top: 420px;
        width: 55%;
    }
    
    .ohWakeOrg {
        right: 60px;
        top: 460px;
        width: 12%;
    }
    
    .yellowCircle {
        width: 40%;
        height: 30%;
        left: 40px;
        top: 450px;
    }
    .shark {
        top: 600px;
        left: 60px;
    }
    
    .ocean {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 120%;
    }
}


@media screen and (max-width: 768px) {
    .desktpCheckOut {
        background-image: url(./images/WelcomeToOceanHeros_Mobile.svg);
        background-repeat: no-repeat;
        background-position: top center;
        position: absolute;
        left: 100px;
        width: 75%;
        height: 50em;
        z-index: 800;
    }

    .desktpHeader {
        left: 100px;
        width: 75%;
        top: 380px;
    }

    .starburst {
        top: 20px;
        left: 40px;
        width: 20%;
        height: 50em;
    }

    .lineStar {
        display: none;
    }

    .flower {
        display: none;
    }

    .roundFlower {
        top: 120px;
        left: 600px;
        width: 10%;
        height: 50em;
    }

    .newsletter {
        width: 35%;
        top: 560px;
        left: 430px;
    }

    .socials {
        background-image: url("./images/FindUsOnSocial.svg");
        background-position: top;
        width: 20%;
        top: 560px;
        left: 80px;
        z-index: 799;
    }

    .desktpOhWake {
        display: none;
    }

    .ohWakeOrg {
        background-image: url("./images/CHECKOUT_MOBILE.svg");
        background-position: top;
        width: 70%;
        left: 120px;
        top: 910px;
    }

    .trashBag {
        background-image: url(./images/PLASTICBAG_MOBILE.svg);
        background-repeat: no-repeat;
        background-position: top;
        position: absolute;
        width: 50%;
        top: 550px;
        left: 80px;
        height: 60%;
        z-index: 800;
    }

    .cloud {
        background-image: url(./images/Clouds.svg);
        background-repeat: no-repeat;
        background-position: 40px 25px;
        position: absolute;
        width: 40%;
        top: 670px;
        right: 0px;
        height: 60%;
        z-index: 800;
    }

    .shark {
        background-image: url(./images/Sharksmall.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        position: fixed;
        top: 520px;
        left: 30px;
        width: 70%;
    }
    
    .ocean {
        top: 250px;
        width: 140%;
    }

    .blueCircle {
        background-image: url(./images/OH_LIGHTBLUE_CIRCLE.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
        position: fixed;
        width: 40%;
        bottom: 50px;
        right: 20px;
        height: 50em;
        z-index: 800;
    }

    .yellowCircle {
        display: none;
    }
}


@media screen and (max-width: 600px) {
    .desktpCheckOut {
        left: 90px;
        width: 70%;
    }

    .desktpHeader {
        left: 90px;
        width: 70%;
        top: 300px;
    }

    .starburst {
        top: 25px;
        left: 40px;
        width: 22%;
        height: 50em;
    }

    .lineStar {
        display: none;
    }

    .flower {
        display: none;
    }

    .roundFlower {
        top: 100px;
        left: 450px;
        width: 12%;
    }

    .newsletter {
        width: 40%;
        top: 430px;
        left: 330px;
    }

    .socials {
        width: 27%;
        top: 430px;
        left: 70px;
        z-index: 799;
    }

    .desktpOhWake {
        display: none;
    }

    .ohWakeOrg {
        width: 70%;
        left: 100px;
        top: 730px;
    }

    .trashBag {
        width: 53%;
        top: 430px;
        left: 110px;
        height: 50em;
        z-index: 800;
    }

    .cloud {
        top: 530px;
    }

    .shark {
        top: 650px;
        left: 10px;
        height: 30%;
    }
    
    .ocean {
        top: 250px;
        width: 150%;
    }

    .blueCircle {
        width: 40%;
        bottom: 60px;
        right: 20px;
    }

    .yellowCircle {
        display: none;
    }
}


@media screen and (max-width: 575px) {
    .desktpCheckOut {
        left: 90px;
        width: 70%;
    }

    .desktpHeader {
        left: 90px;
        width: 70%;
        top: 300px;
    }

    .starburst {
        top: 25px;
        left: 40px;
        width: 22%;
        height: 50em;
    }

    .lineStar {
        display: none;
    }

    .flower {
        display: none;
    }

    .roundFlower {
        top: 100px;
        left: 450px;
        width: 12%;
    }

    .newsletter {
        width: 40%;
        top: 430px;
        left: 330px;
    }

    .socials {
        width: 27%;
        top: 430px;
        left: 70px;
        z-index: 799;
    }

    .desktpOhWake {
        display: none;
    }

    .ohWakeOrg {
        width: 70%;
        left: 100px;
        top: 730px;
    }

    .trashBag {
        width: 53%;
        top: 430px;
        left: 110px;
        height: 50em;
        z-index: 800;
    }

    .cloud {
        top: 520px;
    }
    .shark {
        top: 650px;
        left: 10px;
        width: 70%;
    }
    
    .ocean {
        top: 250px;
        width: 140%;
    }

    .blueCircle {
        width: 40%;
        bottom: 30px;
        right: 20px;
    }

    .yellowCircle {
        display: none;
    }
}


@media screen and (max-width: 480px) {
    .desktpCheckOut {
        left: 50px;
        width: 80%;
    }

    .desktpHeader {
        left: 50px;
        width: 80%;
        top: 270px;
    }

    .starburst {
        top: 25px;
        left: 20px;
        width: 22%;
        height: 50em;
    }

    .lineStar {
        display: none;
    }

    .flower {
        display: none;
    }

    .roundFlower {
        top: 100px;
        left: 380px;
        width: 12%;
    }

    .newsletter {
        width: 40%;
        top: 400px;
        left: 260px;
    }

    .socials {
        width: 27%;
        top: 390px;
        left: 40px;
        z-index: 799;
    }

    .desktpOhWake {
        display: none;
    }

    .ohWakeOrg {
        width: 80%;
        left: 60px;
        top: 680px;
    }

    .trashBag {
        width: 53%;
        top: 410px;
        left: 70px;
    }

    .cloud {
        top: 480px;
    }

    .shark {
        background-image: url(./images/Sharkxs.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        position: fixed;
        top: 630px;
        left: 0px;
        width: 70%;
    }
    
    .ocean {
        top: 250px;
        width: 160%;
    }

    .blueCircle {
        width: 40%;
        bottom: 50px;
        right: 20px;
    }

    .yellowCircle {
        display: none;
    }
}

@media screen and (max-width: 414px) {
    .desktpCheckOut {
        left: 60px;
        top: 40px;
        width: 70%;
    }

    .desktpHeader {
        left: 60px;
        width: 70%;
        top: 210px;
    }

    .starburst {
        top: 10px;
        left: 30px;
        width: 22%;
    }

    .lineStar {
        display: none;
    }

    .flower {
        display: none;
    }

    .roundFlower {
        top: 60px;
        left: 310px;
        width: 12%;
    }

    .newsletter {
        width: 35%;
        top: 310px;
        left: 230px;
    }

    .socials {
        width: 23%;
        top: 310px;
        left: 30px;
    }

    .trashBag {
        width: 48%;
        top: 340px;
        left: 50px;
    }

    .cloud {
        width: 48%;
        top: 360px;
    }

    .desktpOhWake {
        display: none;
    }

    .ohWakeOrg {
        width: 70%;
        left: 70px;
        top: 540px;
    }

    .shark {
        background-image: url(./images/Sharkxxs.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        position: fixed;
        top: 500px;
        left: 20px;
        width: 70%;
    }
    
    .ocean {
        width: 140%;
        top: 200px;
    }

    .blueCircle {
        width: 40%;
        bottom: 0px;
        right: 20px;
        height: 50em;
        z-index: 800;
    }

    .yellowCircle {
        display: none;
    }
}

@media screen and (max-width: 375px) {    
    .desktpCheckOut {
        left: 50px;
        top: 40px;
        width: 70%;
    }

    .desktpHeader {
        left: 50px;
        width: 70%;
        top: 190px;
    }

    .starburst {
        top: 20px;
        left: 20px;
        width: 22%;
    }

    .lineStar {
        display: none;
    }

    .flower {
        display: none;
    }

    .roundFlower {
        top: 60px;
        left: 280px;
        width: 12%;
    }

    .newsletter {
        width: 35%;
        top: 270px;
        left: 210px;
    }

    .socials {
        width: 23%;
        top: 270px;
        left: 30px;
    }

    .trashBag {
        width: 48%;
        top: 270px;
        left: 40px;
    }

    .cloud {
        width: 40%;
        top: 300px;
    }

    .desktpOhWake {
        display: none;
    }

    .ohWakeOrg {
        width: 70%;
        left: 60px;
        top: 440px;
    }

    .shark {
        top: 460px;
        left: 0px;
    }
    
    .ocean {
        width: 150%;
        top: 180px;
    }

    .blueCircle {
        width: 30%;
        bottom: 50px;
        right: 20px;
    }

    .yellowCircle {
        display: none;
    }
}

@media screen and (max-width: 320px) {    
    .desktpCheckOut {
        left: 45px;
        top: 40px;
        width: 70%;
    }

    .desktpHeader {
        left: 45px;
        width: 70%;
        top: 170px;
    }

    .starburst {
        top: 20px;
        left: 20px;
        width: 22%;
    }

    .lineStar {
        display: none;
    }

    .flower {
        display: none;
    }

    .roundFlower {
        top: 60px;
        left: 240px;
        width: 12%;
    }

    .newsletter {
        width: 35%;
        top: 240px;
        left: 170px;
    }

    .socials {
        width: 23%;
        top: 240px;
        left: 30px;
    }

    .trashBag {
        width: 44%;
        top: 250px;
        left: 50px;
    }

    .cloud {
        width: 40%;
        top: 260px;
    }

    .desktpOhWake {
        display: none;
    }

    .ohWakeOrg {
        width: 70%;
        left: 50px;
        top: 380px;
    }

    .shark {
        top: 400px;
        width: 70%;
    }
    
    .ocean {
        top: 120px;
        width: 110%;
    }

    .blueCircle {
        bottom: 20px;
        right: 20px;
    }

    .yellowCircle {
        display: none;
    }
}